<!DOCTYPE html>
<html>
<head>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <title>Angular-Node HTTP Pull Demo</title>
</head>
<body ng-app="angularNodeDemo">

<div ng-controller="dataList">
    <input type='button' value='Initial Contact' ng-click="initializeList()">
    {{text}}
    <br>

    <!--  <table class='list'>
        <tr ng-repeat="item in list">
            <td>{{item.name}}</td>
        </tr>
    </table> -->
    <input type='button' value='Contact With Params (GET)' ng-click="contactServerGET()">
    {{getResponse}}
    <br>
    <input type='button' value='Contact With Params (POST)' ng-click="contactServerPOST()">
    {{postResponse}}
</div>

</body>
</html>